<ion-view view-title="{{room.name}}">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="backToRoomsList()">
      <i class="ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="card" ng-repeat="message in messages">
      <div class="item item-divider positive">
        {{message.username}} said on {{message.sentAt | date:'shortDate'}} at {{message.sentAt | date:'shortTime'}}:
      </div>
      <div class="item item-text-wrap">
        {{message.content}}
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-footer bar-assertive">
    <input class="footerInput" type="text" placeholder="Enter message" ng-model="newMessage">
    <button class="button icon-left ion-paper-airplane" ng-click="sendMessage()"></button>
  </ion-footer-bar>
</ion-view>
